---
layout: default
---

{% if paginator.page == 1 %}
  {% assign base_path = '.' %}
{% else %}
  {% assign base_path = '..' %}
{% endif %}

<div>
	<ul>
		{% for post in paginator.posts %}
		<li>
		<div>
			<h3><a href="{{ post.url }}"><span>{{ post.title }}</span></a></h3>
			<p>{{ post.excerpt }}</p>
			<span style="float: right;">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
		</div>
		</li>

		<div style="clear: both;"></div>
		{% endfor %}
	</ul>
</div>

<div style="text-align:center;">
	{% if paginator.previous_page %}
	<a class="previous" href="{{paginator.previous_page_path}}">이전 페이지</a>
	{% endif %}

	<span>페이지: {{ paginator.page }} / {{ paginator.total_pages }}</span>

	{% if paginator.next_page %}
	<a class="next" href="{{paginator.next_page_path}}">다음 페이지</a>
	{% endif %}
</div>
