<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="keywords" content="sebatyler, github, github page, github.io, pages.github.com, github.com, sebatyler.github.io, LA metal, shout, 재택, 재택근무, 개발, 개발자, 프로그래머, 코딩">
    <meta name="description" content="Sebatyler.GitHub.io">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <title>Sebatyler Blog</title>
    {% if page.title %}
    {% assign base_path = '../../..' %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.home_url }}{{ page.url }}">
    <meta property="og:site_name" content="Sebatyler Blog">
    <meta property="og:description" content="{{ page.excerpt }}">
    {% else %}
    {% if paginator.page == 1 %}
      {% assign base_path = '.' %}
    {% else %}
      {% assign base_path = '..' %}
    {% endif %}
    <meta property="og:title" content="Sebatyler Blog">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ site.home_url }}">
    <meta property="og:site_name" content="Sebatyler Blog">
    <meta property="og:description" content="Sebatyler Blog">
    {% endif %}
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/sebatyler/sebatyler.github.com">View on GitHub</a>

          <h1 id="project_title">Sebatyler's Shout</h1>
          <h2 id="project_tagline"></h2>

        </header>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	      {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-60355624-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
