---
layout: default
---

<div style="text-align: center;">
    <h2>{{page.title}}</h1>
    <span>{{ page.date | date: "%Y년 %m월 %d일" }}</span>
</div>

  <div>{{ content }}</div>

<div>
  <div style="text-align: center;"><a href="/">포스팅 목록</a></div>
  <div class="fb-like" data-href="{{ site.home_url }}{{ page.url }}" data-layout="button_count" data-share="true" data-show-faces="false" data-width="100%"></div>
  <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '740681332714793',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'sebatyler';

(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sebatyler's shout width640 -->
<ins class="adsbygoogle"
	style="display:inline-block;width:640px;height:90px"
	data-ad-client="ca-pub-6928022194889148"
	data-ad-slot="2974295912"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
