---
layout: default
---
<div id="home" class="grid post">
<div class="unit whole">
<article>
	<header>
		<h1>{{ page.title }}</h1>
		<p class="meta">
			<time class="timeago postlist-meta" datetime="{{ page.date | date: "%Y. %m. %d" }}"><i class="fa fa-calendar"></i>{{ page.date | date: "%Y. %m. %d" }}</time>
			<a class="sharer facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-facebook"></i></a>
			{% if site.twitter %}
				<a class="sharer twitter" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href+'&via={{ site.twitter }}','_blank','height=300,width=600');return false;"><i class="fa fa-twitter"></i></a>
			{% else %}
				<a class="sharer twitter" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-twitter"></i></a>
			{% endif %}
		</p>
	</header>
	<section>
		{% if page.tags and page.tags.size > 0 %}
			<div class="tags">
				Tagged:
				{% for tag in page.tags %}
				<span><i class="fa fa-tag"></i>{{ tag }}</span>
				{% endfor %}
			</div>
		{% endif %}
		{{ content }}
	</section>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5&appId=740681332714793";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>

        <div style="margin: 20px 0 20px 0;">
          <p style="text-align: center;"><a href="/">Postings List</a></p>
          <div class="fb-like" data-href="{{ site.home_url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- blog responsive -->
        <ins class="adsbygoogle"
          style="display:block; margin-bottom: 15px;"
          data-ad-client="ca-pub-6928022194889148"
          data-ad-slot="2462999913"
          data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
	{% if site.disqus %}
	<footer>
		<p><a href="#" id="showComments">Comments</a></p>
		<div id="disqus_thread"></div>
	</footer>
	{% endif %}
</article>
</div>
</div>
